---
http_interactions:
- request:
    method: post
    uri: https://api.blockscore.com/companies
    body:
      encoding: UTF-8
      string: '{"entity_name":"Wyman and Sons","tax_id":"000000000","incorporation_country_code":"AS","incorporation_type":"other","address_street1":"75065
        Legros Field","address_city":"Spinkaburgh","address_subdivision":"VA","address_postal_code":"91126-6129","address_country_code":"LK"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="Application"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
  recorded_at: Fri, 19 Feb 2016 00:47:03 GMT
- request:
    method: post
    uri: https://false:@api.blockscore.com/companies
    body:
      encoding: UTF-8
      string: '{"entity_name":"Hahn LLC","tax_id":"000000000","incorporation_country_code":"CX","incorporation_type":"partnership","address_street1":"225
        Shields Row","address_city":"Louieland","address_subdivision":"GA","address_postal_code":"30387-5560","address_country_code":"DJ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"The supplied API
        key is invalid."}}'
  recorded_at: Fri, 19 Feb 2016 00:47:04 GMT
recorded_with: VCR 3.0.1
