---
http_interactions:
- request:
    method: post
    uri: https://api.blockscore.com/candidates
    body:
      encoding: UTF-8
      string: '{"ssn":"0000","date_of_birth":"1981-12-13","name_first":"John","name_last":"Boyer","address_street1":"79529
        Aliyah Point","address_city":"Hillardside","address_country_code":"AZ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="Application"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Basic: Access denied.
  recorded_at: Sat, 20 Feb 2016 01:27:42 GMT
recorded_with: VCR 3.0.1
